.product-detail .product-head {
    padding: 10px;
    font-weight: 500;
  }
  
  .product-detail .table th {
    width: 152px;
  }
  
  .product-ship {
    height: 15rem;
  }
  .img-fluid {

    max-width: 100%;
    height: auto;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
.rounded {

    border-radius: 0.25rem !important;

}
.col-sm-4{
    flex-basis: 33.333%;
    max-width:33.333%;
}
.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}
.list-group .list-group-item:first-child {
    border-top-left-radius: 0.125rem;
    border-top-right-radius: 0.125rem;
}
.d-flex {
    display: flex !important;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}