<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <ul class="list-group">
        <li class="list-group-item hoverable">
          <a [routerLink]="['/user']">Your Profile</a>
        </li>
        <li class="list-group-item hoverable">
          <a [routerLink]="['/user', {outlets: {'profileOutlet': ['products']}}]">Your Products</a>
        </li>
        <li class="list-group-item hoverable">
          <a [routerLink]="['/products/add']">Add Product</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-8">
      <router-outlet name="profileOutlet"></router-outlet>
    </div>
  </div>
</div>