<div class="row">
  <div *ngFor="let product of products | async">
    <div class="item">
      <a [routerLink]="['/products/', product._id]">
        <div class="view overlay hm-white-slight something">
          <img [src]="(product.pictures.length > 0 && product.pictures[0] != '') ? product.pictures[0] : 'https://material.angular.io/assets/img/examples/shiba2.jpg'"
            class="img-fluid" alt="" width="360px" height="640px">

        </div>
      </a>
      <div class=" mb-r">


        <div class="card card-cascade wider">
          <a [routerLink]="['/products/', product._id]">
            <div class="card-body text-center no-padding">
              <!--Category & Title-->
              <a class="text-muted">
                <h5>{{ product.category }}</h5>
              </a>
              <p class="card-title">
                <strong>
                  <a [routerLink]="['/products/', product._id]" routerLinkActive="router-link-active">{{
                    product.name }}</a>
                </strong>
              </p>
            </div>
          </a>
          <div class="card-footer">
            <span class="left">$ {{ product.price }}</span>

            <span class="right">

              <a placement="top" mdbTooltip="Edit" container="body" [routerLink]="['/products/edit', product._id]">
                <mat-icon>edit</mat-icon>
              </a>
              <a placement="top" mdbTooltip="Remove Product" class="hoverable" container="body" (click)="delete(product._id)">
                <mat-icon >delete</mat-icon>
              </a>
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>