<br>
<div class="row">
    <div class="col-8">
        <div class="row">
            <div class="col-4" *ngFor="let product of products | async">
                <div class="item">
                    <div class=" mb-r">

                        <div class="card card-cascade wider">

                            <a [routerLink]="['/products/', product._id]">

                                <div class="view overlay hm-white-slight">
                                    <img [src]="(product.pictures.length > 0 && product.pictures[0] != '') ? product.pictures[0] : 'https://material.angular.io/assets/img/examples/shiba2.jpg'"
                                        class="img-fluid" alt="" width="360px" height="640px">
                                    <a>
                                        <div class="mask waves-effect waves-light" mdbRippleRadius></div>
                                    </a>
                                </div>
                            </a>

                            <div class="card-body text-center no-padding">
                                <a class="text-muted">
                                    <h5>{{ product.category }}</h5>
                                </a>
                                <h5 class="card-title">
                                    <strong>
                                        <a [routerLink]="['/products/product', product._id]">{{ product.name }}</a>
                                    </strong>
                                </h5>


                                <div class="card-footer">
                                    <span class="left">$ {{ product.price }}</span>
                                    <span class="right">
                                        <a placement="top" mdbTooltip="Remove Product" class="hoverable" container="body"
                                            (click)="cartService.removeProduct(product)">
                                            <mat-icon>delete</mat-icon>
                                        </a>
                                    </span>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
 
        <div class="col-4">
            <app-cart></app-cart>
        </div>


</div>