<div style="text-align:center">
  <h1>
    Welcome to Your Store!
  </h1>
</div>
<h2>Looking to shop? Find A product: </h2>
<form class="search-form">
  <mat-form-field class="search-full-width">
    <input matInput class="search-full-width" placeholder="Search term" #input>
  </mat-form-field>
  <button mat-icon-button (click)="search(input.value)">
    <mat-icon>search</mat-icon>
  </button>
</form>
<div class="content">
  <img src="assets/images/card.png" alt="" />
  <h3>Your Store, Your Rules</h3>
  <p>Manage, add, and sell products with an easy to use interface</p>
  <p>Spend your time making your products appealing to your customers, don't worry about where you'll sell them</p>
  <p>Know your market, easily search through the competing products by name or by category</p>
</div>