.content {
    width: 100%;
    padding: 20px;
    overflow: hidden;
}

.content img {
    margin-right: 15px;
    float: left;
}

.search-form {
    min-width: 150px;
    width: 100%;
    
  }
  .search-full-width {
    width: 80%;
    height: 50px;
    align-content:center;
  }