<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar class="mat-primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><a [routerLink]="['/']"><img src="assets/images/logo.png" height="62px"></a></span>
      <span><a [routerLink]="['/products']">Browse</a></span>
      <span class="spacer"></span>
      <a [routerLink]="['/cart']">Cart<mat-icon>shopping_cart</mat-icon></a>
      <div *ngIf="userService.loggedInObs | async;else loggedout">
        <a [routerLink]="['/user']">{{ user }}</a>
        <a (click)='userService.logout()' href="#">Log out</a>
      </div>
      <ng-template #loggedout>
        <a [routerLink]="['/login']">Login</a>
        <a [routerLink]="['/register']">Register</a>
      </ng-template>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>