<div class="medium-list">
  <div class="list-viewer-wrapper">
    <div class="list-header-title">Register</div>

    <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && onRegisterSubmit()" novalidate>
      <div class="form-container">
        <div *ngIf="message"><p>{{ message }}</p></div>

        <mat-form-field>
          <input id="username"
                 matInput
                 formControlName="username"
                 [(ngModel)]="user.username"
                 placeholder="Enter your username" />
        </mat-form-field>
        <mat-form-field>
            <input id="email"
                   matInput
                   formControlName="email"
                   [(ngModel)]="user.email"
                   placeholder="Enter your email" />
        </mat-form-field>
        <mat-form-field>
            <input id="password"
                   matInput
                   formControlName="password"
                   [(ngModel)]="user.password"
                   placeholder="Enter your password"
                   [type]="hide ? 'password':'text'" />
              <mat-icon matSuffix (click)="hide = !hide">
                {{hide ? 'visibility' : 'visibility_off'}}
              </mat-icon>
          </mat-form-field>
        <mat-form-field>
          <input id="name"
                 matInput
                 formControlName="name"
                 [(ngModel)]="user.name"
                 placeholder="Enter your name" />
        </mat-form-field>
        <mat-form-field>
          <input id="age"
                 matInput
                 formControlName="age"
                 [(ngModel)]="user.age"
                 placeholder="Enter your age"
                 [type]='number' />
        </mat-form-field>
          <button mat-button type="submit" 
                  class="mat-raised-button mat-primary" 
                  [disabled]="!registerForm.valid">Register</button>
          <button mat-button routerLink="/login" class="divider">Login</button>
      </div>
    </form>
  </div>
</div>